# SetEnv does NOT WORK ON 1and1 so this has no effect. It does work on bartonphillips.org so
# when this is pull(ed) from github it will be set right for that domain.
SetEnv SITELOADNAME /var/www/bartonphillips.org/vendor/bartonlp/site-class/includes/siteload.php

AddType video/ogg .ogv .ogg
AddType video/mp4 .mp4
AddType video/webm .webm

RewriteEngine on
RewriteBase /

RewriteRule ^playbingo.php currentVersion/slideshow/playbingo.php [L]
# photoloto.php is usually run via CRON but we have the option of running it as a web program.
RewriteRule ^photoloto.php currentVersion/slideshow/photoloto.php [L]
# redirect index requests to currentVersion
RewriteRule ^$ currentVersion/index.php [L]
RewriteRule ^index.php currentVersion/index.php [L]
RewriteRule ^js/(.*)$ currentVersion/js/$1 [L]
RewriteRule ^css/(.*)$ currentVersion/css/$1 [L]
