/* CSS for slideshow.php */

.youtubeitem iframe {
        border: none;
}
#info {
  color: white;
}
.copyright {
        font-size: 6px;
        opacity: 0.5;
        position: absolute;
        right: 3px;
/*      bottom: 0px; */
        top: 2px;
        z-index: 100;
        color: white;
}
#bingoinfo {
        display: none;
        position: absolute;
        right: 3px;
        top: 20px;
        z-index: 100;
        color: white;
}
body {
        background-color: black;
        margin: 0px;
        padding: 0px;
        border: none;
        overflow: hidden;
}
img {
        margin: 0px;
}
#show {
        position: relative;
        margin-top: 25px; /* for info at top */
        background-color: black;
        text-align: center;
}
.htmlitem {
        color: white;
        width: 100%;
}
/* For just white on black */

#photoemailaddress {
        text-align: center;
        color: white;
        width: 100%;
        font: bold 20px "Arial", sans-serif;
        position: absolute;
        /*        bottom: 0px; */
        top: 0px;
        z-index: 100;
}

/* Color Word Art for address 

#photoemailaddress {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        background: -webkit-linear-gradient(left, rgb(176,9,151) 0%,
        rgb(227,33,107) 20%, rgb(249,96,30) 30%, rgb(255,180,18) 40%,
        rgb(255,216,45) 50%, rgb(185,221,23) 60%, rgb(65,160,60) 75%,
        red 90%, red 100%);

        -webkit-background-clip: text;

        -webkit-text-fill-color: transparent;
        font: bold 20px "Arial", sans-serif; 
}
*/